.btn {
  border-radius: 0;
  border: 2px solid;
  transition: all 0.5s ease;
  &:focus {
    background-color: inherit;
    border-color: inherit;
  }
  &:active {
    background-color: inherit;
    border-color: inherit;
    box-shadow: none;
  }
  &:hover {
    background-color: inherit;
    border-color: inherit;
  }
}


// BUTTON MiIIN

// Using SASS mixin to devine original button
//.btn-dark {
//  @include button-variant(color, background, border);
//}

.btn-dark {
  @include button-variant($black, $transparent, $black);
  transition: all 0.5s ease;
  &:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.5s ease;
  }
}
.btn-light {
  @include button-variant($white, $transparent, $white);
  transition: all 0.5s ease;
  &:hover {
    background-color: #fff;
    color: #000;
    transition: all 0.5s ease;
  }
}
