// Color Scheme

$black: #000000;
$white: #ffffff;
$transparent: transparent;
$greyLightest: #fbfbfb;

$coral: Coral;
$crimson: Crimson;

$mainColor: $coral;
$black-transparent: rgba(0, 0, 0, 0.2);

$sectionBackground: $greyLightest;
$text: #333;



// Shades of grey
$grey-dark: #222;
$grey-light: #a2a2a2;
//Coral
//Cornflowerblue
//Crimson
//Darkorange
//Darksalmon
//Ghostwhite