// Section: A look into my life
.a-look-into-my-life {
	background-color: $mainColor;
	background-color: #eee;
	.a-look-into-my-live  {
		margin-bottom: 30px;
	}
	.box {
		max-width: 20%;
		float: left;
		padding: 1px;
		figure {
			display: none;
		}
	}
}
