// Section: latest-works
.latest-works {
	background-color: $sectionBackground;
	.box {
		margin-bottom: 30px;
		height: 200px;
		overflow: hidden;
		position: relative;
		
		&:hover .project-details {
			display: block;
		}
		img {
			height: 100%;
		}
		.project-details {
			display: none;
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.8);
			padding: 10px 20px;
			
			h1.project-title {
				display: block;
				width: 100%;
				color: #fff;
				text-transform: uppercase;
				font-size: 16px;
				font-family: Helvetica, Arial, sans-serif;
			}
			a {
				position: absolute;
				bottom: 20px;
				left: 10px;
				padding: 5px 10px;
				&:hover {
					text-decoration: none;
				}
				i {
					color: #fff;
				}
			}
			span.underline {
				height: 2px;
				background-color: red;
				width: 20px;
				display: block;
			}
			p {
				color: #999;
				&.description {
					padding-top: 15px;
				}
				&.tags {
					font-style: italic;
					font-size: 12px;
					margin: 10px 0 0 0;
					color: #fff;
				}
			}

		}	
	}
}