// Color Scheme

$black: #000000;
$white: #ffffff;
$transparent: transparent;
$greyLightest: #f7f7f7;

$coral: Coral;
$crimson: Crimson;

$mainColor: $coral;
$black-transparent: rgba(0, 0, 0, 0.2);

$sectionBackground: $greyLightest;
$text: #333;

//Coral
//Cornflowerblue
//Crimson
//Darkorange
//Darksalmon
//Ghostwhite