// Color Scheme

$black: #000000;
$white: #ffffff;
$transparent: transparent;
$coral: Coral;
$crimson: Crimson;

$mainColor: $coral;
$black-transparent: rgba(0, 0, 0, 0.2);

//Coral
//Cornflowerblue
//Crimson
//Darkorange
//Darksalmon
//Ghostwhite