$text: #eee;
$mainColor: red;
$black: #000;
$white: #fff;


// logo$headerHeight: 90px;
$angle: 22deg;
$gap: 10px;
$clip: 25px;
$red: #A82336;
$logoFontSize: 20px;
$headerHeight: 20px;
$slashDistanceFromLeft: 38px;
$professionDistanceFromLeft: 20px;
