// Section: A look into my life
.a-look-into-my-life {
	.a-look-into-my-live  {
		margin-bottom: 30px;
	}
	.box {
		max-width: 20%;
		float: left;
		padding: 1px;
		figure {
			display: none;
		}
	}
}

// Responsive
@media all and (max-width: 767px) {
  .a-look-into-my-live {
  	.box {
  		max-width: 50%;
  	}
  }
}