a.logo, a.logo:hover, a.logo:visited {
	color: #fff;
	text-decoration: none;
	padding: 0;
}

// Section: hero-area
.hero-area {
	height: 700px;
	overflow: hidden;
	background-color: #000;
	.carousel-inner {
		height: 100%;
		.item {
			height: 100%;
			img {
				opacity: 0.2;
				width: 100%;
				position: absolute;
			}
		}
		p {
			font-family: Merriweather, Helvetica;
			font-weight: 400;
			text-rendering: geometricPrecision;
			font-style: italic;
		}
	}
	.carousel-caption {
		bottom: 200px;
	}
  h1 {
    font-size: 64px;
		font-weight: bold;
		color: $white;
		text-transform: uppercase;
		font-family: Helvetica, Arial, sans-serif;
  }
	p {
		font-family: 'EB Garamond', 'Times New Roman',  serif;
		font-size: 22px;
	}
	a.btn {
		margin: 10px;
	}
}

// Responsive
@media all and (max-width: 767px) {
	.hero-area {
		height: 300px;
		.carousel-caption {
			bottom: 0px;
		}
		h1 {
			font-size: 18px;
		}
		p {
			font-size: 14px;
		}
	}
}
