// Style for the navbar
.navbar {
	padding: 10px 0;
	transition: all  0.3s linear;
	top: 0 !important;
  .navbar-brand {
    padding: 0px 10px;
    margin-left: 30px;
    color: #eee;
    font-family: Avenir, Arial, serif;
    &::before {
    	display: block;
    	content: "";
    	width: 10px;
    	border-bottom: 1px solid red;
    	position: absolute;
    	bottom: 20px;
    }
    h1 {
    	margin-top: 10px;
    	font-size: 22px;
    }
		img {
			max-height: 100%;
		}
  }
	
	ul.nav {
		margin-right: 30px;
		li {
			&:hover {
				background-color: transparent;
			}
			a {
				color: #eee;
				text-transform: uppercase;
				font-size: 13px;
				position: relative;
				display: block;
				transition: all linear 300ms;
				&:hover {
					background-color: transparent;
					&:after {
						position: absolute;
						top: 40px;
						width: 80%;
						height: 2px;
						background: #fff;
						content: '';
						opacity: 1;
						transition: opacity 0.3s,top 0.5s, -webkit-transform 0.25s;
						// transform: translate(10px);
					}
				}
				&:focus {
					background-color: transparent;
				}
				&:after {
					position: absolute;
					left: 10%;
					top: 52px;
					width: 80%;
					height: 2px;
					background: #fff;
					content: '';
					opacity: 0;
					transition: opacity 0.3s,top 0.5s,  -webkit-transform 0.25s;
				}
			}
		}
	}
	&.affix {
		background:rgba(255,255,255, 0.98);
		transition: all  0.3s linear;
		box-shadow: rgba(28, 38, 57, 0.168627) 0px 1px 4px;
      
        .navbar-brand {
            h1 {
              color: #434d57;
              text-rendering: geometricPrecistion;
            }
            .logo {
              color: $text;
            }
        }
		ul.nav {
			li {
				a {
					color: $text;
					&:after {
						background: $text;
					}
					&:hover {
						&:after {
							background: $text;
						}
					}
				}
			}
		}
	}
}

// Responsive
@media all and (max-width: 767px) {
  .hero-area {
    margin-top: 60px;
  }
  .navbar {
    background-color: #000;
  }
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 400px;
  }
  .navbar-toggle {
    margin-top: 0;
    color: #fff;
    background: #000;
  }
  ul.nav {
    margin-right: 0;
    margin-left: 5px;
    overflow: hidden;
    li:hover {
      background-color: #333!important;
      border-bottom: 0;
      a {
        color: #fff!important;
        &::after {
          display: none;
        }
      }
    }
  }
}
