.short-about {
	.profile {
		ul li {
			b {
				display: block;
				width: 40%;
				float: left;
			}
			span {
				display: block;
				float: left;
				width: 45%;
				color: $grey-light;
			}
		}
	}
  .progressbars {
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
    .progress__label {
      position: absolute;
      bottom: -30px;
      display: block;
      width: 100%;
      padding: 20px 0;
      font-weight: bold;
    }
    .progress__meter {
      position: absolute;
      width: 100%;
      bottom: -20px;
    }
    .pie_progress__svg {
      position: relative;
    }
    span.percentage {
      position: absolute;
      top: 50px;
      text-align: center;
      width: 100%;
      display: block;
      font-size: 22px;
    }
  }
}
