.short-about {
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
	.profile {
		ul li {
      margin: 12px 0;
			b {
				display: block;
				width: 40%;
				float: left;
			}
			span {
				display: block;
				float: left;
				width: 45%;
				color: $grey-light;
			}
		}
	}
  .progressbars {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    .progress__label {
      position: absolute;
      bottom: -30px;
      display: block;
      width: 100%;
      padding: 20px 0;
      font-weight: bold;
    }
    .progress__meter {
      position: absolute;
      width: 100%;
      bottom: -20px;
    }
    .pie_progress__svg {
      position: relative;
    }
    span.percentage {
      position: absolute;
      top: 50px;
      text-align: center;
      width: 100%;
      display: block;
      font-size: 22px;
    }
  }
}
